<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid" style="min-height:300px;background-color:#232323;color:white">
  <div class="row" style="
  padding-bottom:50px">
  <div class="col-md-4 col-lg-3">
      <h5>FOLLOW US</h5>
      <a href="#"><i class="fa fa-facebook-square" style="font-size:30px;color:white;margin-right:20px"></i></a>
      <a href="#"><i class="fa fa-twitter-square" style="font-size:30px;color:white;margin-right:20px"></i></a>
      <a href="#"><i class="fa fa-instagram" style="font-size:30px;color:white;margin-right:20px"></i></a>
      <a href="#"><i class="fa fa-google-plus-square" style="font-size:30px;color:white;margin-right:20px"></i></a>
         
      
      </div>
    <div class="col-md-4 col-lg-3">
   
      <h5>ADDRESS</h5>
      Village - Bhubhuwar , Post - Korari Kalan
      <br>
      District - Unnao (Uttar Pradesh)
      <br>
      Pin - 209801


    </div>
     <div class="col-md-4 col-lg-3">
   
      <h5>CONTACT US</h5>
      Email - Ayush_Dixit@ymail.com
      <br>
      Mobile - 9891011869
      <br>
      Fax - +1 (0) 000 0000 002

    </div>
    <div class="col-md-4 col-lg-3">
        
           <h5>USEFUL LINKS</h5>
           <a href="#">About Us</a><br>
           <a href="#">Home</a><br>
           <a  [routerLink]="['/','faq']">FAQ</a><br>
           <a href="#">Term and Conditions</a>
     
         </div>
       
  </div>
</div>
</body>
</html>