<div class="container-fluid" style="padding-top:20px;padding-bottom:50px;background-color:#F2F2F2;min-height:600px">
  <mat-card
    style="max-width:500px;min-height:500px;margin:auto ;background-image: url('');text-align:center;padding:0px">
    <mat-tab-group>



      <mat-tab label="RESET PASSWORD"><br><br>


        <mat-card-subtitle>RESET PASSWORD</mat-card-subtitle>

        <form [formGroup]="resetForm" #regForm=ngForm style="padding:10px"
          (ngSubmit)="resetForm.valid&&resetPassword()">


          <mat-form-field style="width:100%">
            <input formControlName="password" matInput placeholder="Enter A Password"
              [type]="hidePassword?'password':'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field><br>

          <mat-form-field style="width:100%">
            <input formControlName="confirmPassword" matInput placeholder="Confirm Password"
              [type]="hideConfirmPassword?'password':'text'">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
              {{hideConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field><br>

          <br>
          <button mat-raised-button type="submit" color="primary"
            style="background-color:#5cb85c;width:120px;height:40px;margin-right:20px;border-radius:5px"
            [style.cursor]="resetForm.valid?'pointer':'not-allowed'"><b>RESET</b></button>
          <button mat-raised-button type="button" (click)="regForm.reset();regForm.submitted = false" color="primary"
            style="background-color:#d9534f;width:120px;height:40px;color:white;margin-left:20px;border-radius:5px"><b>RESET</b></button>
        </form>
      </mat-tab>
    </mat-tab-group>


  </mat-card>
</div>
<app-footer></app-footer>