::ng-deep .mat-tab-labels {
    justify-content: center; /* align items in Main Axis */
}
:host ::ng-deep  .mat-tab-label-container
{
    background-color: #008080;
}
:host ::ng-deep  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: white;
}

:host ::ng-deep  .mat-tab-label, .mat-tab-link {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:white;opacity: 1;
}
