<div style="min-height: 700px">
<mat-card>
  <mat-accordion multi="true">
   
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <b>Why has Shopping Re-Launched its Desktop Site?</b>
      </mat-expansion-panel-header>
      <mat-card-subtitle>
    We have decided to bring back the desktop site to deliver the fast purchase experience. The biggest reason to re-launch the site is our Consumer feedback and our belief in empowering our customers with a convenient and easy way of shopping.
      </mat-card-subtitle>
  </mat-expansion-panel>
   
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <b>What is Try and Buy Service?</b>
      </mat-expansion-panel-header>
  <mat-card-subtitle>
      This service entitles you to try-out your purchases at the time of delivery, pay only for what you like and return the rest on-the-spot. Try and Buy is a paid service, available on most of the products and in 31 Cities, you can enter pin code on product page to check service availability. Try and Buy is only available on orders containing <=3 items in cart. To avail this service min. order value should be Rs.1199 and above. To avail the service, please ensure that you tick the 'Try and Buy' box on check-out page and choose delivery address where you are comfortable trying product.Terms of service may differ for our new customers. Try and Buy will not be available during big sale days; We will re-offer the service, post such events.
     </mat-card-subtitle>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
       <b>Why will 'My Cashback' not be available on Shopping?</b>
      </mat-expansion-panel-header>
      <mat-card-subtitle>
  To make your shopping experience easier and simpler, 'My Cashback' will be replaced by PhonePe. PhonePe wallet can be used on Myntra and other PhonePe partners. To use your PhonePe balance, you will have to activate/verify your PhonePe account.
      </mat-card-subtitle>
     </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
       <b>How do I cancel the order, I have placed?</b>
      </mat-expansion-panel-header>
  <mat-card-subtitle>
      You can cancel your order before it has been packed at our warehouse. If your order has already been shipped, you can refuse it at the time of delivery and refund will be processed into the source account, if order amount was paid online.
      </mat-card-subtitle>
   
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
       <b>How do I create a Return Request?</b>
      </mat-expansion-panel-header>
  <mat-card-subtitle>
     <b>You can create a Return in three simple steps</b><br><br>
   
            1.Tap on MyOrders<br>
            2.Choose the item to be Returned<br>
            3.Enter details requested and create a return request<br>
            </mat-card-subtitle>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <b>I have created a Return request. When will the product be picked up?</b>
      </mat-expansion-panel-header>
  <mat-card-subtitle>
     Number of days to pickup a product may vary as per the Logistics team that will be assigned to pickup your product. The product will be picked anywhere between 4 – 7 days.
  </mat-card-subtitle>
     </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
       <b>I have created a Return request. When will I get the refund?</b>
      </mat-expansion-panel-header>
  <mat-card-subtitle>
      Refund will be initiated upon successful pickup as per the Returns Policy. The refund amount is expected to reflect in the customer account within the following timelines:<br><br>
   
              1.<b>NEFT</b> - 1 to 3 days post refund initiation<br>
              2.<b>Online Refund</b> – 7 to 10 days post refund initiation,                    depending on your bank partner<br>
              3.<b>“PhonePe wallet”</b> – 1 day post refund initiation<br>
              </mat-card-subtitle>
   
   
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
       <b>Where should I self-ship the Returns?</b>
      </mat-expansion-panel-header>
      <mat-card-subtitle>
     You can send the return to any one of the following returns processing facilities depending on your location. Kindly do not send it to on any other address as the package would not be acceptable then. Please address the return shipments to the seller you purchased the products from, details of which can be found on your order invoice.<br><br>
   
  **South<br>
   
  InstaKart Services Pvt. Ltd, A/C Seller Name: Survey Numbers 231, 232 and 233, Soukya Road, Samethanahalli Village, Anugondanahalli Hobli, Hoskote Taluk, Bangalore - 560067,
   
  (Professional courier are not accepted at Bangalore return desk)<br><br>
   
  **North<br>
   
  InstaKart Services Pvt. Ltd, A/C Seller Name: Dev Niwas, K-2 block, Khasra No-819, behind Maruti Service Centre, Mahipalpur, New Delhi - 110037<br><br>
   
  **West<br>
   
  InstaKart Services Pvt. Ltd, A/C Seller Name: Shop No.1, Barkaya R Hawale Compound Damu Pada Akurli Road, Damu Pada, Opp 282 Last bus stop Kandivali East, Mumbai 400101<br><br>
   
  **East<br>
   
  InstaKart Services Pvt. Ltd, A/C Seller Name: 379, S N Roy Road, , Landmark : Piyashi Cinema, , Kolkata - 700038,
   
  (DTDC courier are not accepted at Kolkata return desk)<br><br>
  </mat-card-subtitle>
   
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <b>I have accumulated Shopping Points in my account. How can I redeem them?</b>
      </mat-expansion-panel-header>
      <mat-card-subtitle>
  To redeem Myntra Points, you will have to continue shopping with us on App/M-site/Website. In case, you don’t have access to the App/Website or M-site, don’t worry, your Myntra Points are safe with us, whenever you get access of these Platforms in future, you can redeem the same (unless points have not expired)
   
  </mat-card-subtitle>
    </mat-expansion-panel><br>
   
  
     
  </mat-accordion>
  </mat-card>
</div>
  <app-footer></app-footer>