<div class="container-fluid" style="padding-top:20px;padding-bottom:50px;background-color:#F2F2F2;min-height:600px">
  <mat-card
    style="max-width:500px;min-height:500px;margin:auto ;background-image: url('');text-align:center;padding:0px">
    <mat-tab-group (selectedTabChange)="resetTabs()">
      <mat-tab label="LOG IN" *ngIf="!forgetPassword"><br>

        <form [formGroup]="loginForm" #logForm="ngForm" style="padding:10px"
          (submit)="logForm.valid&&login();logForm.submitted=false">
          <mat-card-subtitle>EASILY USING</mat-card-subtitle>
          <button mat-button type="button" (click)="signInWithFB()"
            style="border:1px solid #526cd0;border-radius:4px;background-color:white;width:160px;margin-top:5px"><i
              class="fa fa-facebook-square" style="font-size:30px;color:#3B5998;margin-right:20px"></i>
            FACEBOOK</button>
          <button mat-button type="button" (click)="signInWithGoogle()"
            style="border:1px solid #526cd0;border-radius:4px;background-color:white;width:160px;margin-top:5px"><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Google-favicon-2015.png/150px-Google-favicon-2015.png"
              style="width:25px;height:25px;margin-right:30px"> GOOGLE</button><br><br>
          <mat-card-subtitle>-OR USING EMAIL-</mat-card-subtitle>
          <mat-form-field style="width:100%">
            <input matInput placeholder="Enter your email" formControlName="email">

            <!-- <mat-error *ngIf="loginForm.controls.email.invalid">{{authenticateEmail(loginForm.controls.email)}}</mat-error> -->
          </mat-form-field><br>
          <mat-form-field style="width:100%">
            <input #input maxlength="10" formControlName="password" matInput placeholder="Enter your password"
              [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <!-- <mat-error *ngIf="loginForm.controls.password.invalid">{{authenticatePassword(loginForm.controls.password)}}</mat-error> -->
          </mat-form-field><br><br>
          <button mat-raised-button color="primary"
            style="background-color:#5cb85c;width:120px;height:40px;margin-right:20px;border-radius:5px"
            [style.cursor]="logForm.valid?'pointer':'not-allowed'"><b>LOGIN</b></button>
          <button mat-raised-button type="button" (click)="logForm.reset()" color="primary"
            style="background-color:#d9534f;width:120px;height:40px;color:white;margin-left:20px;border-radius:5px"><b>RESET</b></button>


        </form>
        <br>
        <span style="text-align:center;color: blue;cursor: pointer;" class="changePasswordLink"
          (click)="forgetPassword=true;loginForm.reset()">Forget Password</span>
        <br><br>
      </mat-tab>


      <mat-tab label="Recover" *ngIf="forgetPassword"><br><br><br>

        <form [formGroup]="loginForm" #logForm="ngForm" style="padding:10px"
          (submit)="loginForm.controls.email.valid&&sendEmail();logForm.submitted=false">

          <mat-form-field style="width:100%">
            <input autofocus matInput placeholder="Enter your email" formControlName="email">

            <!-- <mat-error *ngIf="loginForm.controls.email.invalid">{{authenticateEmail(loginForm.controls.email)}}</mat-error> -->
          </mat-form-field><br>
          <br>
          <button mat-raised-button type="submit" color="primary"
            style="background-color:#5cb85c;width:120px;height:40px;margin-right:20px;border-radius:5px"
            [style.cursor]="loginForm.controls.email.valid?'pointer':'not-allowed'"><b>SUBMIT</b></button>
          <button mat-raised-button type="button" (click)="logForm.reset()" color="primary"
            style="background-color:#d9534f;width:120px;height:40px;color:white;margin-left:20px;border-radius:5px"><b>RESET</b></button>
        </form>
        <br>
        <span style="text-align:center;color: blue;cursor: pointer;" class="changePasswordLink"
          (click)="forgetPassword=false;loginForm.reset()">Login</span>
      </mat-tab>



      <mat-tab label="REGISTER"><br><br>


        <mat-card-subtitle>EASILY USING</mat-card-subtitle>
        <button mat-button (click)="signInWithFB()" type="button"
          style="border:1px solid #526cd0;border-radius:4px;background-color:white;width:160px;margin-top:5px"><i
            class="fa fa-facebook-square" style="font-size:30px;color:#3B5998;margin-right:20px"></i>
          FACEBOOK</button>
        <button mat-button (click)="signInWithGoogle()" type="button"
          style="border:1px solid #526cd0;border-radius:4px;background-color:white;width:160px;margin-top:5px"><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Google-favicon-2015.png/150px-Google-favicon-2015.png"
            style="width:25px;height:25px;margin-right:30px"> GOOGLE</button><br><br>
        <br><br>
        <mat-card-subtitle>-OR USING EMAIL-</mat-card-subtitle>

        <form [formGroup]="registrationForm" #regForm="ngForm" style="padding:10px"
          (ngSubmit)="registrationForm.valid&&register()">


          <mat-form-field style="width:100%">
            <input formControlName="name" matInput placeholder="Name">
            <!-- <mat-error *ngIf="registrationForm.controls.name.invalid">
              {{authenticateName(registrationForm.controls.name)}}</mat-error> -->
          </mat-form-field><br>


          <mat-form-field style="width:100%">
            <input formControlName="email" matInput placeholder="Your Email Address">
            <!-- <mat-error *ngIf="registrationForm.controls.registrationId.invalid">
              {{authenticateEmail(registrationForm.controls.registrationId)}}</mat-error> -->
          </mat-form-field><br>


          <mat-form-field style="width:100%">
            <input formControlName="password" matInput placeholder="Enter A Password"
              [type]="hidePassword?'password':'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <!-- <mat-error *ngIf="registrationForm.controls.registrationPassword.invalid">
              {{authenticatePassword(registrationForm.controls.registrationPassword)}}</mat-error> -->
          </mat-form-field><br>

          <mat-form-field style="width:100%">
            <input formControlName="confirmPassword" matInput placeholder="Confirm Password"
              [type]="hideConfirmPassword?'password':'text'">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
              {{hideConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <!-- <mat-error *ngIf="registrationForm.controls.confirmPassword.invalid||regForm.errors.invalid">
              {{authenticatePassword(registrationForm.controls.confirmPassword).length==0?(regForm.errors.invalid?'Not matched with Password':''):authenticatePassword(registrationForm.controls.confirmPassword)}}
            </mat-error> -->
          </mat-form-field><br>
          <mat-form-field style="width:100%">
            <input formControlName="phoneNo" matInput placeholder="Your Mobile">
            <!-- <mat-error *ngIf="registrationForm.controls.mobile.invalid">
              {{registrationForm.get('mobile').errors.pattern?'Invalid Mobile Number':registrationForm.get('mobile').errors.?' Mobile Number is ':''}}
            </mat-error> -->
          </mat-form-field><br>

          <mat-radio-group formControlName="gender">
            <mat-radio-button value="MALE" style="margin:20px">Male</mat-radio-button>
            <mat-radio-button value="FEMALE">Female</mat-radio-button>
            <!-- <mat-error
              *ngIf="registrationForm.controls.gender.invalid&&(registrationForm.controls.gender.dirty||registrationForm.controls.gender.touched||regForm.submitted)">
              Select a gender</mat-error> -->
          </mat-radio-group>

          <br>
          <button mat-raised-button type="submit" color="primary"
            style="background-color:#5cb85c;width:120px;height:40px;margin-right:20px;border-radius:5px"
            [style.cursor]="registrationForm.valid?'pointer':'not-allowed'"><b>REGISTER</b></button>
          <button mat-raised-button type="button" (click)="regForm.reset();regForm.submitted = false" color="primary"
            style="background-color:#d9534f;width:120px;height:40px;color:white;margin-left:20px;border-radius:5px"><b>RESET</b></button>
        </form>
      </mat-tab>
    </mat-tab-group>


  </mat-card>
</div>
<app-footer></app-footer>